body {
    padding-top: 84px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight:200;
    font-family: 'Segoe UI';
}
p, div {
    font-family: 'Segoe UI';
    font-weight: 200;
    font-size: 106%;
}

/**
 * Layout
 */

/* Main Menu */
#menuAvatarImage {
    margin-top: -13px;
    margin-right: 6px;
    float:left;
    height: 52px;
    -ms-transform: rotate(27deg); /* IE 9 */
    -webkit-transform: rotate(27deg); /* Chrome, Safari, Opera */
    transform: rotate(27deg);
    border:2px solid #bababa;
}
.nav-container .social-media-container {
    padding: 15px 0;
    opacity: 0.7;
}
.nav-container .social-media-container a {
    text-decoration:none;
}
.nav-container .social-media-container img {
    margin-right:10px;
    padding: 4px;
    height: 24px;
    opacity:0.8;
}
.nav-container .social-media-container img:hover{
    opacity:1;
}

/* Header */
header {
    margin-top: -20px;
    background-color: #03a9f4;
    padding: 15px 0;
    box-shadow: 0 0 3px #555;
    height:150px;
}
.heading-title {
    margin-top: 11px;
    padding-top: 0;
}

/* Footer */
footer {
    padding-top: 30px;
}

/**
 * PAGE: Home
 */
#pageHome header {
    margin-top: 10%;
    background: #03a9f4;
    padding: 15px 0;
    box-shadow: 0 0 2px #555;
    height: auto;
}
#pageHome header * {
    color: #fff;
}
#pageHome .navbar {
    margin-top: 2px;
    border-radius: 0px;
}
#pageHome .navbar-nav {
    margin-left: 5px;
}
#pageHome .container {
    width: 530px;
}
#pageHome .avatar {
    float: left;
    margin-right: 30px;
    -ms-transform: rotate(27deg); /* IE 9 */
    -webkit-transform: rotate(27deg); /* Chrome, Safari, Opera */
    transform: rotate(27deg);
    background-size:cover;
    background-position:6px 0;
    background-image: url('../Media/Images/avatar-400.jpg');
    width:140px;
    height:140px;
    box-shadow: 0 0 5px 0px #555;
}
#homeBackground {
    background-image:  url('/Media/Images/bg-noise-transparent.png');
}

/**
 * PAGE About
 */
#pageAbout .avatar-image {
    width:100%;
}
main #pageAbout {
    margin-top: -73px;
    border-radius:2px;
    background:  #fff;
    box-shadow: 0 0 3px #555;
}
#pageAbout table {
    margin-bottom: 0;
}
#pageAbout .flag-image {
    width: 17px;
    height: 15px;
    opacity: 0.5
}


/**
 * PAGE Resume
 */
main #pageResume {
    margin-top: -104px;
    border-radius:2px;
    background-color: #fff;
    box-shadow: 0 0 3px #555;
}
#pageResume .resume-header {
    margin-top: -292px;
    border-radius:2px;
}
#pageResume .avatar-image {
    max-width: 100%;
}
#pageResume .resume-main {
    padding: 0 15px;
}
#bodyResume header {
    height: 355px;
}
#pageResume .separator {
    box-shadow: inset 0px 3px 3px -4px #555;
}
#pageResume .resume-header ul {
    list-style-type: none;
    margin-bottom: 0;
}
#pageResume .resume-header li {
    margin:1px 0;
}

#pageResume .small-avatar {
    min-height: 100px;
    min-width: 100px;
     -ms-transform: rotate(27deg); /* IE 9 */
    -webkit-transform: rotate(27deg); /* Chrome, Safari, Opera */
    transform: rotate(27deg);
}

/**
 * PAGE Contact
 */
#pageContact {
    border-bottom: 1px solid #eee;
}
#pageContact table td {
    margin-top:22px;
    padding: 12px 10px;
}
#pageContact table td img {
    opacity: 0.7;
}
#pageContact table td img:hover {
    opacity: 0.9;
}
#pageContact #Message {
    background-color: transparent;
}
#bodyContact header {
    height: 75px;
}