.avatar {
    max-width: 200px;
    margin: auto;
    float: none;
    display: block;
    border: 1px #ccc dashed;
    border-radius: 50%;
    background-position:left 50px;
    transform: rotate(27deg);
}
.container-left {
    color: #03a9f4;
    padding-left:50px;
    padding-right:10px;
    border-right: 1px #ccc solid;
}
.push-down{
    margin-top: 5%;
}
.main-content {
    padding-left:60px;
}

h1, h2, h3, h4, h5, h6 { font-weight:200; font-family: 'Segoe UI'; }
p, div { font-family: 'Segoe UI'; font-weight: 200; font-size: 106%; }