# Config files
appsettings.*.json

# Bower packages
wwwroot/lib
!wwwroot/lib/Readme.md

# Minified assets
wwwroot/css/site.min.css
wwwroot/js/site.min.js

# Database file
data/scho-dot-com.db