{
    "Logging": {
        "IncludeScopes": false,
        "LogLevel": {
            "Default": "Debug",
            "System": "Information",
            "Microsoft": "Information"
        }
    },
    "ConnectionStrings": {
        "DefaultConnection": "Data Source=database.db"
    },
    "Smtp": {
        "FromName": "John Doe",
        "FromEmail": "j.d@example.com",
        "Username": "smtp-user",
        "Password": "smtp-pass",
        "Port": 587,
        "Url": "smtp.example.com"
    },
    "ApplicationInsights": {
        "InstrumentationKey": "11111111-2222-3333-4444-555555555555"
    },
    "SchoDotCom": {
    	"RenderGoogleAnalyticsSnippet": false,
        "RenderAppInsightsSnippet": false,
        "DisabledPages": [
            // List disabled pages by their slug/route
            // Use "home" for the home page
        ]
    }
}
