<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <appSettings>
        <!-- Contact Details -->
        <add key="schodotcom:IncludeContactDetails" value="[true|false]"
             xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
        <add key="schodotcom:PhoneNumber" value="[phone-number]"
             xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
        <add key="schodotcom:EmailAddress" value="[email-address]"
             xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
        <add key="schodotcom:Address" value="[address]"
             xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />

        <!-- Default User Setting -->
        <add key="schodotcom:DefaultUsername" value="[your-email]"
             xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
        <add key="schodotcom:DefaultPassword" value="[your-password]"
             xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
        <add key="sendgrid:ApiKey" value="[your-api-key]"
             xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />

        <!-- Analytics -->
        <add key="googleanalytics:EnableAnalytics" value="[true|false]"
             xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />

        <add key="applicationinsights:EnableClientSideAnalytics" value="[true|false]"
             xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
        <add key="applicationinsights:EnableServerSideMonitoring" value="[true|false]"
             xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    </appSettings>

    <system.net>
        <mailSettings>
            <smtp xdt:Transform="Remove" />
            <smtp from="[your-email]" deliveryMethod="Network"
                  xdt:Transform="Insert">
                <network host="[your-host]" enableSsl="[true|false]" port="[your-port]" userName="[your-userName]" password="[your-password]" />
            </smtp>
        </mailSettings>
    </system.net>

    <connectionStrings>
        <add name="DefaultConnection" connectionString="[your-connection-string]"
             xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    </connectionStrings>

</configuration>