@model SchoDotCom.WebUI.ViewModels.Home.AboutViewModel
@{
    ViewBag.Title = "About";
}
<h2 class="heading-title">@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-7">
        <table class="table">
            <tr>
                <td>Born in</td>
                <td>Dobrich, Bulgaria <img class="flag-image" src="~/Media/Images/flag-bg.png" /></td>
            </tr>
            <tr>
                <td>Living in</td>
                <td>Haarlem, The Netherlands</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>@Model.AgeInDogYears in dog years</td>
            </tr>
            <tr>
                <td>Occupation</td>
                <td>Software developer</td>
            </tr>
            <tr>
                <td colspan="2">
                    When not developing I enjoy playing basket or League of Legends, hanging 
                    out with friends, being at the beach or hiking/skiing in the mountains.
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-5">
        <img class="avatar-image" alt="Stoyan Dimov" src="~/Media/Images/avatar-400.jpg" />
    </div>
</div>