@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
	<div class="row">
		<div class="col-md-8">
			<h2>@ViewBag.Title</h2>
			<p>I'm a Bulgarian currently living in the Netherlands. I started playing with Visual Basic 6 in school at 13. Did Hospitality Management in Bulgaria and Human Resources and Quality Management in the Netherlands (both bachelors). In 2012 I started developing web applications in PHP and decided to follow web developer career path. Since 2014 I'm working at Codelogic B.V. developing web based contact center software and other utilities in .NET with VB and C#.</p>
		</div>
		<div class="col-md-4">
			<div id="about-page-carousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#about-page-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#about-page-carousel" data-slide-to="1"></li>
					<li data-target="#about-page-carousel" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img class="img-circle" width="300" height="300" src="https://www.gravatar.com/avatar/c0320baa25de1b5370675cbc18c2d532?s=300" alt="1">
					</div>
					<div class="item">
						<img class="img-circle" width="300" height="300" src="~/Media/Images/avatar-green-bg.jpg"  alt="2" />
					</div>
					<div class="item">
						<img class="img-circle" width="300" height="300" src="~/Media/Images/avatar-stoyancho.jpg" alt="3" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
