@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<address>
	<strong>Email:</strong>		<a href="mailto:stoyandimov@hotmail.com">stoyandimov@hotmail.com</a><br />
    <strong>Twitter:</strong>	<a href="https://twitter.com/StoyanDimov">Twitter @@StoyanDimov</a><br />
</address>