<div class="jumbotron">
	<div class="row">
		<div class="col-md-4">
			<img src="https://www.gravatar.com/avatar/c0320baa25de1b5370675cbc18c2d532?s=250" alt="Stoyan Dimov" class="img-circle">
		</div>
		<div class="col-md-8">
			<h1>Stoyan Dimov (dot) Com</h1>
			<p class="lead">Website is under construction! Some of the content might look a bit 01 001010111 00<span class="text-danger">2</span>1 1010 101 0010100010101 011010</p>
			<p><a href="https://twitter.com/StoyanDimov" class="btn btn-primary btn-lg">try @@StoyanDimov</a></p>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>U3RveWF-64</h2>
        <p>
            AVGhpcyBpcyB0aGU gZ2V0dGluZy BzdGFydGVkIHNlY3Rpb24gZm9 ybSB0aGUgdGVtcGxhdGU=
        </p>
        <p><a class="btn btn-default" disabled href="#">Learn less &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Blog</h2>
		<div class="progress">
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
				<span class="sr-only">35% Complete</span>
			</div>
		</div>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" disabled href="#">Learn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>stoyandimov@hotmail.com</p>
        <p><a class="btn btn-default" href="@(Url.Action("Contact", "Home"))">Learn more &raquo;</a></p>
    </div>
</div>