@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-7">
        @*<p>
                I'm a Bulgarian currently living in the Netherlands.
                I started playing with Visual Basic 6 in school at 13.
                Did Hospitality Management in Bulgaria and Human Resources
                and Quality Management in the Netherlands (both bachelors).
                In 2012 I started developing web applications in PHP
                and decided to follow web developer career path.
                Since 2014 I'm working at Codelogic B.V. developing
                web based contact center software and other utilities
                in C# and VB using ASP.NET and .NET Framework.
            </p>*@
        <table class="table">
            <tr>
                <td>Born in</td>
                <td>Dobrich, Bulgaria <img class="flag-image" src="~/Media/Images/flag-bg.png" /> </td>
            </tr>
            <tr>
                <td>Living in</td>
                <td>Haarlem, The Netherlands <img class="flag-image" src="~/Media/Images/flag-nl.png" /></td>
            </tr>
            <tr>
                <td>Age</td>
                <td>@((DateTime.Now.Year - 1987) * 7) in dog years</td>
            </tr>
            <tr>
                <td>Occupation</td>
                <td>Software developer</td>
            </tr>
            <tr>
                <td colspan="2">
                    When not developing I enjoy playing basket or League of Legends, hanging
                    out with friends, being at the beach or hiking/skying in the mountains.
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-5">
        <img class="avatar-image" alt="Stoyan Dimov" src="~/Media/Images/avatar.jpg" />
    </div>
    ...
</div>